<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://assets.onestore.ms/cdnfiles/external/mwf/long/v1/v1.27.2/css/mwf-west-european-default.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/mwfcore.css"> 
        <link rel="stylesheet" href="css/dragula.css">    
        <link rel="stylesheet" href="css/bundle.css">                        
        
        
    </head>

<body>
        
    <nav data-js-controlledby="dialog">
                    <section id="headerArea">
                        <div id="headerRegion">

                            <div id="headerUniversalHeader">
                            <header role="banner" class="c-universal-header context-uhf f-transparent js">
                                <div class="theme-light js-global-head f-closed f-transparent" style="background: #f1f1f1">
                                    <div>
                                        <button class="c-action-trigger c-glyph glyph-global-nav-button"></button>
                                                <a id="uhfLogo" class="c-logo" itemprop="url" href="#">
                                                    
                                                    <span>.....</span>
                                                </a>
                                        <div class="f-mobile-title">
                                            <button class="c-action-trigger c-glyph glyph-chevron-left"></button>
                                            <span class="js-mobile-title">Web framework</span>
                                            <button class="c-action-trigger c-glyph glyph-chevron-right" aria-label="See more menu options" style="display: none;"></button>
                                        </div>
                                                <nav id="uhf-g-nav" aria-labelledby="uhfLogo" role="navigation" ms.cmpgrp="nav" style="">
                                        <ul>
                                                    <li>
                                                        <div class="c-uhf-menu js-nav-menu">

                                                            <button id="Store-navigation" style="white-space:nowrap">Builder</button>
                                                        </div>
                                                        </li>
                                                    </ul>
                                        
                                    </nav>

                                    </div>

                                </div>
                            </header>
                        </div>
                </div>

            </section>
    </nav>