<% include ./partials/header.ejs %>
<div class="right-modules-bar" data-grid="col-4" id="avail-modules-source" style="float: right; padding-top: 80px; height: 100vh;background: #f1f1f1;">

    <div class="">dfsdfdsfdsf</div>
    <div class="">dfsdffdsfdfdsfdsff</div>

</div>
<div class="left-builder-component" id="modules-target" data-grid="col-8">

    

</div>


<% include ./partials/footer.ejs %>