<% include ./partials/header.ejs %>
<div class="right-modules-bar" data-grid="col-4" id="avail-modules-source" style="float: right; padding-top: 80px; height: 100vh;background: #f1f1f1;">

    <div class="">dfsdfdsfdsf</div>
    <div class="">dfsdffdsfdfdsfdsff</div>

</div>
<div class="left-builder-component" id="modules-target" data-grid="col-8">
    <div class="m-feed-hero">
        <div class="c-carousel f-multi-slide" role="region" aria-label="Label">
            <div class="c-sequence-indicator" role="tablist">
                <button role="tab" aria-selected="true" aria-label="View slide one" aria-controls="lightFeedHeroSlideOne" title="Slide one"></button>
                <button role="tab" aria-selected="false" aria-label="View slide two" aria-controls="lightFeedHeroSlideTwo" title="Slide two"></button>
                <button role="tab" aria-selected="false" aria-label="View slide three" aria-controls="lightFeedHeroSlideThree" title="Slide three"></button>
            </div>
            <button class="c-flipper f-previous" aria-hidden="true" tabindex="-1"></button>
            <button class="c-flipper f-next" aria-hidden="true" tabindex="-1"></button>
            <div itemscope itemtype="http://schema.org/ItemList">
                <ul>
                    <li id="lightFeedHeroSlideOne" data-f-theme="light" class="f-active">
                        <section class="m-feed-hero-item theme-light">
                            <picture class="c-image">
                                <source srcset="http://placehold.it/1600x600" media="(min-width: 1779px)">
                                <source srcset="http://placehold.it/1600x600" media="(min-width: 1400px)">
                                <source srcset="http://placehold.it/1260x473" media="(min-width: 1084px)">
                                <source srcset="http://placehold.it/1083x608" media="(min-width:768px)">
                                <source srcset="http://placehold.it/767x430" media="(min-width:540px)">
                                <source srcset="http://placehold.it/539x304" media="(min-width:0)">
                                <img srcset="http://placehold.it/1260x473" src="http://placehold.it/1260x473" alt="Placeholder with grey background and dimension watermark without any imagery">
                            </picture>
                            <div>
                                <div>
                                    <a href="#">
                                        <h2 class="c-heading">Lorem ipsum dolor</h2>
                                    </a>
                                    <p class="c-subheading">Consectetur adipisicing elit</p>
                                </div>
                            </div>
                        </section>
                    </li>
                    <li id="lightFeedHeroSlideTwo" data-f-theme="light">
                        <section class="m-feed-hero-item theme-light">
                            <picture class="c-image">
                                <source srcset="http://placehold.it/1600x600" media="(min-width: 1779px)">
                                <source srcset="http://placehold.it/1600x600" media="(min-width: 1400px)">
                                <source srcset="http://placehold.it/1260x473" media="(min-width: 1084px)">
                                <source srcset="http://placehold.it/1083x608" media="(min-width:768px)">
                                <source srcset="http://placehold.it/767x430" media="(min-width:540px)">
                                <source srcset="http://placehold.it/539x304" media="(min-width:0)">
                                <img srcset="http://placehold.it/1260x473" src="http://placehold.it/1260x473" alt="Placeholder with grey background and dimension watermark without any imagery">
                            </picture>
                            <div>
                                <div>
                                    <a href="#">
                                        <h2 class="c-heading">Quisque ligula est</h2>
                                    </a>
                                    <p class="c-subheading">Condimentum vel rhoncus at</p>
                                </div>
                            </div>
                        </section>
                    </li>
                    <li id="lightFeedHeroSlideThree" data-f-theme="light">
                        <section class="m-feed-hero-item theme-light">
                            <picture class="c-image">
                                <source srcset="http://placehold.it/1600x600" media="(min-width: 1779px)">
                                <source srcset="http://placehold.it/1600x600" media="(min-width: 1400px)">
                                <source srcset="http://placehold.it/1260x473" media="(min-width: 1084px)">
                                <source srcset="http://placehold.it/1083x608" media="(min-width:768px)">
                                <source srcset="http://placehold.it/767x430" media="(min-width:540px)">
                                <source srcset="http://placehold.it/539x304" media="(min-width:0)">
                                <img srcset="http://placehold.it/1260x473" src="http://placehold.it/1260x473" alt="Placeholder with grey background and dimension watermark without any imagery">
                            </picture>
                            <div>
                                <div>
                                    <a href="#">
                                        <h2 class="c-heading">Suspendisse condimentum justo</h2>
                                    </a>
                                    <p class="c-subheading">Sit amet metus consectetur</p>
                                </div>
                            </div>
                        </section>
                    </li>
                </ul>
            </div>
        </div>
    

</div>


<% include ./partials/footer.ejs %>